<h1 style="font-weight: bold`;">Mancala!</h1>


<div>
    <div class="row">
        <div class="col s12 l6 m6">
            <label for="nstones">Enter Number of stones:</label>
            <div class="input-field">
                <input id="nstones" type="number" min="2" max="6" data-ng-change="gameBoardEvents.gameStonesChanged()" data-ng-model="gameSettings.numberOfStones">
            </div>
            <label for="npots">Coloured holes:</label>
            <div class="input-field">
                <input id="npots" type="number" data-ng-change="gameBoardEvents.gameStartNew()"
                       min="2" max="{{2*(gameSettings.numberOfStones-1)}}"
                       data-ng-model="gameSettings.mancalaPots">
            </div>
            Playing with {{gameSettings.numberOfStones}} stones with {{gameSettings.mancalaPots}} pots.
        </div>

        <div class="col s12 l6 m6">
            <div class="row">
                <input type="radio" id="2p" data-ng-change="gameBoardEvents.gameStartNew()"
                       data-ng-model="gameSettings.players" value="2">
                <label for="2p">Two Player (Red goes first)</label>
            </div>
            <div class="row">
                <input id="1p" type="radio" data-ng-change="gameBoardEvents.gameStartNew()"
                           data-ng-model="gameSettings.players" value="1">
                <label for="1p">One Player vs Computer (you are red)</label>
            </div>
            <div class="row">
                <input id="2c" type="radio" data-ng-change="gameBoardEvents.gameStartNew()"
                       data-ng-model="gameSettings.players" value="0">
                <label for="2c">Two Computers</label>
            </div>
        </div>
    </div>
    <table id='mancala-board'>
        <tr class="mancala-board_row" ng-class="{0: 'my-turn', 1: 'not-my-turn'}[getGameUIStates.playerTurn]" id="mancala-board_blue-player">

            <td class="mancala-board_cell mancala-board_score-cell"><div class="circle blue-border">{{getGameUIStates.blueHomePotScore()}}</div></td>
            <td ng-repeat="ballsInHole in getGameUIStates.blueMancalaHoles() track by $index"
                class="mancala-board_cell">
                <div data-ng-click="cellClicked(0, $index )" class="circle blue-fill">
                    {{ballsInHole}}
                </div>
            </td>
            <td ng-repeat-end class="mancala-board_cell mancala-board_score-cell"><div class="circle blue-border"></div></td>
        </tr>

        <tr class="mancala-board-row" ng-class="{1: 'my-turn', 0: 'not-my-turn'}[getGameUIStates.playerTurn]"  id="mancala-board_red-player">
            <td class="mancala-board_cell mancala-board_score-cell"><div class="circle red-border"></div></td>
            <td ng-repeat="ballsInHole in getGameUIStates.redMancalaHoles() track by $index"
                class="mancala-board_cell">
                <div data-ng-click="cellClicked(1, $index)" class="circle red-fill">
                    {{ballsInHole}}
                </div>
            </td>
            <td ng-repeat-end class="mancala-board_cell mancala-board_score-cell"><div class="circle red-border">{{getGameUIStates.redHomePotScore()}}</div></td>
        </tr>
    </table>
</div>