<h1 style="font-weight: bold">Mancala!</h1>


<div>
    <div class="row">
        <div class="col s12 l6 m6">
            <label for="nstones">Enter Number of stones:</label>
            <div class="input-field">
                <input id="nstones" type="number" min="2" max="6" data-ng-change="gameBoardEvents.newGame()" data-ng-model="gameSettings.numberOfStones">
            </div>
            <label for="npots">Coloured holes:</label>
            <div class="input-field">
                <input id="npots" type="number" data-ng-change="gameBoardEvents.newGame()"
                       min="2" max="{{2*(gameSettings.numberOfStones-1)}}"
                       data-ng-model="gameSettings.mancalaPots">
            </div>
            <div class="row">Playing with {{gameSettings.numberOfStones}} stones with {{gameSettings.mancalaPots}} pots.</div>

        </div>

        <div class="col s12 l6 m6">
            <div class="row">
                <input type="radio" id="2p" data-ng-change="gameBoardEvents.newGame()"
                       data-ng-model="gameSettings.players" value="2">
                <label for="2p">Two Player (Red goes first)</label>
            </div>
            <div class="row">
                <input id="1p" type="radio" data-ng-change="gameBoardEvents.newGame()"
                           data-ng-model="gameSettings.players" value="1">
                <label for="1p">One Player vs Computer (you are red)</label>
            </div>
            <div class="row">
                <input id="2c" type="radio" data-ng-change="gameBoardEvents.newGame()"
                       data-ng-model="gameSettings.players" value="0">
                <label for="2c">Two Computers</label>
            </div>
            <div class="row">
                <label for="maxdepth">Max Depth:</label>
                <div class="input-field">
                    <input id="maxdepth" type="number" data-ng-change="gameBoardEvents.newGame()"
                           min="1" max="20"
                           data-ng-model="gameSettings.maxDepth">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l4">
            <button class="btn waves-light" ng-click="gameBoardEvents.newGame()">Restart</button>
        </div>
    </div>
    <div class="row" ng-if="gameSettings.showHeuristic">
        <div class="row">
            <div class="col s6">
                <select id="redH" ng-model="gameSettings.heuristicPairing.redPlayer">
                    <option value="1" selected>Heuristic 1</option>
                    <option value="2">Heuristic 2</option>
                </select>
                <label for="redH">Red Player Heuristic</label>
            </div>
            <div class="col s6">
                <select id="blueH" ng-model="gameSettings.heuristicPairing.bluePlayer">
                    <option value="1">Heuristic 1</option>
                    <option value="2" selected>Heuristic 2</option>
                </select>
                <label for="blueH">Blue Player Heuristic</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <button class="btn waves-light" ng-click="getGameUIStates.makeAIMove()">Make {{playerName}}'s Move</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6"><h4><span ng-class="{true: 'mancala-red', false: 'mancala-blue'}[getGameUIStates.isRedTurn()]">{{playerName}}</span>, it's your turn</h4>.</div>
        <div class="col s6"></div>
    </div>

    <div class="row" ng-if="gameSettings.gameOver">
        <div class="s12">
            <h3>{{winnerMessage}}</h3>
        </div>
        <div class="col s6 mancala-blue">
            <h4>Blue: {{blueScore}}</h4>
        </div>
        <div class="col s6 mancala-red">
            <h4>Red: {{redScore}}</h4>
        </div>
    </div>
</div>


<table id='mancala-board'>
    <tr class="mancala-board_row" ng-class="{0: 'my-turn', 1: 'not-my-turn'}[getGameUIStates.playerTurn]" id="mancala-board_blue-player">

        <td class="mancala-board_cell mancala-board_score-cell"><div class="circle blue-border" id="bs-l">{{getGameUIStates.blueLeftScorePot()}}</div></td>
        <td ng-repeat="ballsInHole in getGameUIStates.blueMancalaHoles() track by $index"
            class="mancala-board_cell">
            <div id="" move-popover="{{$index}} top 0 blue {{getGameUIStates.cellChanged($index,0)}}">
            </div>
        </td>
        <td ng-repeat-end class="mancala-board_cell mancala-board_score-cell"><div class="circle blue-border" id="bs-r">{{getGameUIStates.blueRightScorePot()}}</div></td>
    </tr>

    <tr class="mancala-board-row" ng-class="{1: 'my-turn', 0: 'not-my-turn'}[getGameUIStates.playerTurn]"  id="mancala-board_red-player">
        <td class="mancala-board_cell mancala-board_score-cell"><div class="circle red-border" id="rs-l">{{getGameUIStates.redLeftScorePot()}}</div></td>
        <td ng-repeat="ballsInHole in getGameUIStates.redMancalaHoles() track by $index"
            class="mancala-board_cell">
            <div move-popover="{{$index}} bottom 1 red {{getGameUIStates.cellChanged($index,1)}}">
            </div>
        </td>
        <td ng-repeat-end class="mancala-board_cell mancala-board_score-cell"><div class="circle red-border" id="rs-r">{{getGameUIStates.redRightScorePot()}}</div></td>
    </tr>
</table>
<br>

<div class="row">
    <nvd3 options="nvd3Options" data="nvd3Data"></nvd3>
</div>
<div class="row">
    <div class="col s12">
        <div ng-bind-html="logBody"></div>
    </div>
</div>
